@import '../../styles/globalImports.scss';

.client{
    &__profile{
        display:flex;
        justify-content:center;
        margin:40px 0;
        width:90%;
    }

    &__programs{
        
        background-color: $lighter-green;
        padding:5px 16px;
        box-sizing:border-box;
        border-radius:50px;
        display:flex;
        align-items:center;
        align-self:flex-start;
        margin-left:100px;
        width:90%;
    
        &-list{
            display:flex;
            justify-content:center;
            flex-wrap:wrap;
        }
        &-title{
            color:white;
            margin-right:20px;
            font-size:18px;
        }
        &-label{ 
            position: relative; 
            padding-left: 25px; 
            cursor: pointer;             
            
            &:hover input ~ .client__programs-check { 
                background-color:$accent-color; 
            } 
              
            /* Specify the background color to be 
            shown when checkbox is active */ 
            & input:active ~ .client__programs-check { 
                background-color:$accent-color; 
            } 
              
            /* Specify the background color to be 
            shown when checkbox is checked */ 
            & input:checked ~ .client__programs-check { 
                background-color:$accent-color; 
            } 

            & input:checked ~ .client__programs-check:after { 
                display: block; 
            } 
              
            /* Styling the checkmark using webkit */ 
            /* Rotated the rectangle by 45 degree and  
            showing only two border to make it look 
            like a tickmark */ 
            & .client__programs-check:after { 
                left: 5px; 
                bottom: 4px; 
                width: 7px; 
                height: 13px; 
                border: solid white; 
                border-width: 0 2px 2px 0; 
                transform: rotate(45deg); 
            } 
        }
        &-check{
            position: absolute; 
            top: 3px;; 
            left: 0; 
            height: 15px; 
            width: 15px; 
            background-color: $dark-background; 
        
            &:after { 
                content: ""; 
                position: absolute; 
                display: none; 
            } 
        }
    }
    

    &__contact{
        padding-top:70px;
        margin:7px 0 20px 0;
        height:540px;
        width:33%;

        &-info{
            background-color:$medium-background;
            padding:16px;
            display:flex;
            flex-direction:column;
            justify-content: space-between;
            margin-bottom:16px;
            &-top{
                display:flex;
                flex-direction:column;
                justify-content: space-between;
            }
        }
        &-address{
            display:flex;
            width:100%;
            margin-bottom:20px;
        }
        &-item{
            display:flex;
            align-items:center;
            margin-bottom:8px;
        }
         &-map{
            border:1px solid grey;
            height:50%;
        }
        &-modify{
            display:flex;
            width:40px;
            height:40px;
            margin-left:auto;
        }

    }
   
    &__notes{
        width:507px;
        height:575x;
        background-size:contain;
        background-repeat:no-repeat;

        &-body{
            padding-top:43px;
            padding-left:10%;
            width:80%;
            height:70%;
        }

        &-title{
            font-weight:bold;
            font-size:24px;
            font-style:italic;
        }

        &-text{
            margin:20px 0;
            white-space: pre-wrap;
        }
        &-submit{
            margin-left:84%;
            width:40px;
            height:40px;
        }

    }
}

  
/* Hide the default checkbox */ 
input[type=checkbox] { 
    visibility: hidden; 
} 
