@import '../../styles/globalImports.scss';

.client{
    &__profile{
        display:flex;
        margin-bottom:40px;
    }

    &__contact{
        padding-top:70px;
        margin-right:20px;
        height:500px;
        width:33%;

        &-info{
            background-color:$medium-background;
            padding:16px;
            display:flex;
            flex-direction:column;
            justify-content: space-between;
            margin-bottom:16px;
            &-top{
                display:flex;
                justify-content: space-between;
            }
        }

        &-add{
            @include buildButton(50px,30px, $accent-color, white);
            font-size:12px;
        }
        &-item{
            padding-bottom:5px;
            // border-bottom:1px solid $dark-background;
            margin-bottom:10px;
        }
        &-map{
            border:1px solid grey;
            height:50%;
        }

    }
    &__modify{
        display:flex;
        margin-bottom:20px;
    }
    &__notes{
        padding-top:70px;
        width:100%;

        &-form{
            display:flex;
            justify-content:space-between;
            align-items:baseline;
        }

        &-new{
            background-color:white;
            border:0;
            border-bottom:1px solid grey;
            padding:16px;
            width:100%;
            margin-right:16px;
        }
        &-add{
            @include buildButton(30px,30px, $accent-color, white);
            font-size:12px;
        }
    }
}