@import '../../styles/globalImports.scss';

.empty{
    padding-left:300px;
    width:100vw;
    height:100vh;
    background-size:cover;
    box-sizing:border-box;
    &__message{
        display:flex;
        align-items:flex-start;
        padding-left:300px;
        position:absolute;
        top:22px;
        left:144px;

        &-text{
            margin-top:20px;
            text-align:center;
        }
        
        &-image{
            width:70px;
            transform: scaleX(-1) rotate(90deg);
        }
    }
}

.empty-lessons{
    padding-top:100px;
    &__container{
        padding:50px 0;
        width:50%;
        margin-left:25%;
        &-header{
            color:$accent-color
        }
    }

}