@import '../../styles/globalImports.scss';

.empty-client{
    &__lessons{
        padding-left:300px;
        padding-top:100px;
        width:100vw;
        height:100vh;
        background-size:cover;
        box-sizing:border-box;
    }

    &__container{
        padding:50px 0;
        width:50%;
        margin-left:25%;
    }
    &__header{
        color:$accent-color
    }
}

.empty{
    &__message{
        display:flex;
        align-items:flex-start;
        padding-left:300px;
        position:absolute;
        top:22px;
        left:144px;

        &-text{
            margin-top:20px;
            text-align:center;
        }
        
        &-image{
            width:70px;
            transform: scaleX(-1) rotate(90deg);
        }
    }
}