@import '../../styles/globalImports.scss';

.modal-login{

    &__header{
        text-align:center;
        &-title{
            padding-left:0;
            margin-bottom:20px;
            color:$accent-color;
            font-weight:bold;

        }
        &-info{
            margin:20px 0;
        }
    }
    &__area{
        background-size:cover;
        border-radius:10px;
        width: 19%;
        height: 51%;
        left:39%;
        top:17%;
        box-shadow:0 0 9px 0 rgba(255, 255, 255, 0.4);
    }
    &__close{
        top:11px;
        right:10px;
    }
    &__body{
        &-signup{
            background-color:transparent;
            border:none;
            font-size:16px;
            cursor:pointer;
            margin-left:10px;
            margin-bottom:10px;
        
            &-accent{
                color:$accent-color;
                font-weight:bold;
                &:hover{
                    font-style:italic;
                }
            }
            &:focus{
                outline:none;
            }
        }

        &-error{
            color:#ff0033;
            font-weight:bold;
            font-style:italic;
            position:absolute;
            top:53%;
            &--signUp{
                top:47%;
            }
        }
    }

    &__alternate{
        display:flex;
        align-items:center;
        margin-bottom:10px;
        &-text{
            margin-left:10px;
        }
    }
}

