@import '../../styles/globalImports.scss';

.modal-delete{
    &__header{
        text-align:center;
        &-title{
            padding-left:0;

        }
        &-info{
            margin:20px 0;
        }
        &-warning{
            padding-top:5px;
            font-size: 18px;
            color:#ff0033;
            font-weight:bold;
        }
        &-noDelete{
            margin-top:50px;
            color:#ff0033;
            &-instructions{
                margin-top:20px;
                font-weight:bold;
            }
        }
        &-resource-instructions{
            text-align:center;
            margin: 20px auto 0 auto;
            width:90%;
            font-style:italic;
        }
    }
    &__area{
        width: 33%;
        height: 27%;
        left:33%;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        background-size:contain;
    }
    &__close{
        top:11px;
        right:25px;
    }
    &__body{
        display:flex;
        justify-content:flex-end;
        // margin:35px 20px;
        padding:0 16px 0 0;
    }
}


