@import '../../styles/globalImports.scss';

.contact{
    &-link{
        color:$accent-color;
        font-weight:bold;
        &:hover{
            font-weight:normal;
            font-style:italic;
            // color:black;
        }
    }
}

.welcome{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-left:320px;
    background-size:cover;
    background-position:right;

    &__greeting{
        display:flex;
        margin:40px 0;
        text-transform:uppercase;
        color:$accent-color;
        &-client{
            margin-left:10px;
            
        }
    }
    &__section{
        margin-bottom:70px;
        margin-left:40px;
        width:80%;
        &--last{
            margin-bottom:50px;
        }

        &-body{
            margin-top:60px;
        }

        &-company{
            display:flex;
            &-logo{
                width:25%;
            }
            &-name{
                font-size:22px;
                font-weight:bold;
                color:$accent-color;
            }
        }
    }
    &__programs{
        &-title{
            font-size:18px;
            color:$accent-color;
            font-weight:600;
            margin-bottom:2px;
        }
        &-text{
            margin-bottom:10px;
        }
    }

    &__trainer{
        &-address{
            display:flex;
            justify-content:space-between;
            &-map{
                width:50%;
                border:1px solid black;
            }
        }
    }

    &__map{
        border:1px solid grey;
        height:98%;
    }

}