@import '../../styles/globalImports.scss';

.user-profile{
    padding:20px;
    height:100vh;
    padding-left:320px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:right;
    
    &__type{
        color:grey;
        margin-bottom:80px;
    }
    &__bottom{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        width:100%;
    }
    &__container{
        width:60%;
        padding-top:70px;
    }

    &__sign-in{
        display:flex;
        align-items:baseline;
    }
    
    &__details{
        width:100%;
        display:flex;
        justify-content: space-between;
    }

    &__contact{
        background-color:$medium-background;
        margin:20px 0;
        padding: 16px;
        width:40%;

        &-title{
            margin-bottom:16px;
        }
    }

    &__address{
        background-color:$medium-background;
        width:50%;
        margin:20px 0;
        padding: 16px;
        font-size:18px;
        
        &-title{
            margin-bottom:16px;
        }
        &-item{
            padding-bottom:16px;
        }
    }

    &__update{
        width:40px;
        height:40px;
        align-self:flex-end;
        &:hover{
            opacity:0.7;
        }
    }

    &__social{
        display:flex;
        justify-content:flex-end;
        width:100%;
        margin-top:40px;
    }
    
    &-item{
        font-size:18px;
        display:flex;
        align-items:center;
        margin-bottom:16px;
    }

    &__description{
        position:relative;
        width:70%;
        height:100%;
        margin-left:20px;
        margin-bottom:40px;
        background-color:white;
        border-radius:4px;
        padding:16px;
        box-shadow: 2px 11px 32px  black;
        
        &-logo{
            width:70%;
            
            &-container{
                text-align:center;
                position:absolute;
                display:flex;
                justify-content:center;
                align-items:center;
                margin-right:20px;
                top:-37px;
                left:39px;
                width:16%;
                height:60%;
                border-radius:100px;
                background-color:white;
                box-shadow: 2px 11px 32px  black;
            }
        }
        &-content{
            display:flex;
            flex-direction:column;
            padding-top:20px;
            text-align:center;
        }

        &-company{
            font-size:40px;
            margin-bottom:16px;
            margin-left:130px;
            border-radius:53px;
            text-align:left;
            padding: 16px 100px;
            color:white;
            background-color:$accent-color;
        }

        &-description{
            padding:16px;
            margin-bottom:20px;
            width:90%;
            margin:20px auto;
        }

    }
}

