@import '../../styles/globalImports.scss';

.list{
    &__item{
        display:flex;
        justify-content:space-between;
        background-color:$medium-background;
        padding:16px;
        margin-bottom:10px;        
    }

    &__right{
        display:flex;
        align-content:baseline;
        
        &-type{
            font-size:12px;
            margin-right: 10px;
            padding:4px 6px;
        }

        &-delete{
            border:none;
            color:grey;
            border-radius:4px;
            padding:4px 6px;

            &:hover{
                background-color:$accent-color;
                color:$light-text;
            }
        }
    }
}


