@import '../../styles/partials/variables.scss';

@mixin buildButton($width, $height, $fillcolor, $textcolor){
    background-color: $fillcolor;
    border-radius:10px;
    border:none;
    font-family: "SourceSansPro";
    color:$textcolor;
    font-size:16px;
    padding:10px 16px;
    cursor:pointer;
    
    &:focus{
        outline:none;
    }
}

@mixin animateTooltip($end){
  @keyframes tipSlide{
    0% {right:0}
    100% {right:$end}
}
animation: tipSlide 0.2s linear;
}

@mixin addToolTip($content, $right, $bottom, $width){
        &::before{
          content: $content;
          display:none;
          right:$right;
          bottom:$bottom;
          font-size: 14px;
          color: $accent-color;
          width:$width;
          font-style:italic;
        }
        // only show the tool tip when you hover over button
        &:hover::before {
          position:absolute;
          display: block;
          @include animateTooltip($right);
        }
        
}



