/*========== COLOR PALETTE ===============*/

$accent-color:#7d94a1;
$light-text: #F3F3F4;
$contrast-text: #B1A494;
$dark-text: #808080;
$lighter-green:#c4baae;

$dark-background: #e1ddde;
$medium-background: #F3F3F4;
$light-background:white;

$form-input-background: rgba(225, 221, 222, 0.5);
$form-input-background: #F3F3F4;