@import '../../styles/globalImports.scss';

.clients{
    &__container{
        display:flex;
        width:80%;
        height:100vh;
        padding-left:300px;
        background-size: contain;
        background-repeat:no-repeat;
        background-position:right;
    }
}

.client{
    display:flex;
    flex-direction:column;
    height:100vh;
    margin-left:260px;
    width:75%;

    &__nav{
        display:flex;
        justify-content:center;
        margin-bottom:40px;
        color:grey;
        &-left{
            padding:0 20px;
            border-right:1px solid grey;
        }
        &-right{
            padding:0 20px;
        }
    }

    &__title{
        display:flex;
        flex-direction:column;
        align-items:center;
        margin:40px 0;
        color:grey;
        &-name{
            font-size:30px;
            color:white;
        }
    }
}
