@import '../../styles/globalImports.scss';

.next-lesson{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
    padding-left:320px;
    background-size:cover;
    background-position:right;
    box-sizing:border-box;

    &__title{
        margin:40px 0;
        color:$accent-color;
    }

    &__location{
        font-size:22px;
        color:$accent-color;
    }

    &__top{
        &-details{
            width:100%;
        }
    }
    &__subtitle{
        margin-bottom:20px;
        color:$accent-color;
    }

    &__resources{
        margin:0 40px;
        &-list{
            display:flex;
            flex-direction:column;
            justify-content:center;
        }
    }

}

.client-side{
    &__notes{
        padding-top:40px;
        &-title{
            color:$accent-color;
        }
    }
    &__notepaper{
        margin-top:20px;
        height:535px;

        &-next{
            margin-top:40px;
            height:535px;
        }
    }
}