@import '../../styles/globalImports.scss';

.lessons{
    width:80%;
    &__list{
        display:flex;
        flex-wrap:wrap;
        margin: 20px 0;
        justify-content: center;

        &-new{
            position:relative;
            align-self:flex-end;
            padding-bottom:20px;
            font-weight:bold;
            cursor:pointer;
            width:20px;
            height:20px;
            &:hover{
                color:$accent-color;
                font-style:italic;
            }
            &:after{
                content:"New";
                position:absolute;
                top:0;
                left:20px;
                
                &:hover{
                    color:$accent-color;
                    font-style:italic;
                }
            }
        }
    }
}
.lesson{
    background-color: white;
    margin-bottom:20px;
    margin-right:20px;
    padding:20px;
    cursor:pointer;
    text-align:center;
    width:100px;
    &__name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight:bold;
    }
}

.current-lesson{
    
    margin-bottom: 100px;
    
    &__top{
        display:flex;
        justify-content:center;
        min-height:150px;
        margin:70px 0 20px 0;
        padding-bottom:20px;
        
        &-status{
            position:relative;
            display:block;
            width:60px;
            height:30px;
            &-check{
                display:none;
            }
            &-label{
                margin-left:65px;
                font-size:16px;
                position:relative;
                top:5px;
            }
        }
        &-map{
            width:346px;
            height:200px;
        }

        &-details{
            width:25%;
            background-color: $dark-background;
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            padding:20px;
            box-sizing:border-box;
            font-size:16px;

            &-title{
                font-size:20px;
                color:$accent-color;
                text-align:center;
                background-color:white;
                border-radius:50px;
                margin-bottom:10px;
            }

            &-where{
                margin-bottom:20px;
            }
            &-item{
                margin-bottom:5px;
            }

            &-edit{
                align-self:flex-end;
                width:30px;
                height:25px;
            }
        }
        
    }
    &__resources-applied{
        min-height:180px;
    }
    &__bottom{
        display:flex;
        justify-content:center;
        border-top:1px solid gainsboro;
        padding-top:20px;
        margin-top:20px;
        &-notes{
            width:50%;
            margin-right:20px;
        }
        &-homework{
            width:50%;
        }
    }
}

.lesson-divider{
    border-top:1px solid gainsboro;
    margin-bottom:20px;
}
.section-title{
    margin-bottom:10px;
    &-resources{
        text-align:center;
    }
}

.slidinggroove{
    position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        border-radius:20px;
        transition: all 0.3s ease;
        background:grey;
    &:after{
        position:absolute;
        content:'';
        width:28px;
        height:28px;
        border-radius:50%;
        background:white;
        top:1px;
        left:1px;
        transition: all 0.3s ease;
    }
    &-on{
        background:$accent-color;
        &:after{
            top:1px;
            left:30px;
        }
    }
}

input:checked + .slidinggroove-on{
    background:grey;
}

input:checked + .slidinggroove{
    background:grey;
}

input:checked + .slidinggroove:after{
    transform:translateX(30px);
}

input:checked + .slidinggroove-on:after{
    transform:translateX(-30px);
}

.empty-lessons{
    width:55%;
    font-size:22px;
}