@import '../../styles/globalImports.scss';

.sidebar{
    background-color:$medium-background;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:bottom;
    height:100vh;
    width:300px;
    box-shadow: 10px 10px 8px  $dark-background; 
    display:flex;
    flex-direction:column;
    align-items:center;
    box-sizing:border-box;
    font-size:24px;
    color: grey; 
    z-index:2;
    position:fixed;
    
    &__logo{
        font-family:"Montserrat";
        color: $contrast-text;
        display:flex;
        justify-content:center;
        align-items:center;
        margin-bottom:20px;

        &-title{
            font-size:35px;
        }

        &-bigLetter{
            font-size:50px;
            font-weight:600;
        }
        
    }
    &__divider{
        width:140px;
        border: 2px solid $contrast-text;
        margin-bottom:20px;
        
    }
    &__menu{
        width:100%;
        height:50%;

        &-link{
            color: $dark-text; 
            display:flex;
            align-items:center;
            
            padding:10px 16px;
            margin:32px 20px;

            &--active{
                background-color:$accent-color;
                border-radius:4px;
                box-shadow: 10px 10px 8px  $dark-background; 
                color: $light-text;
            }
        }
        &-icon{
            height:25px;
            width:25px;
            margin-right:20px;
            filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(250deg) brightness(96%) contrast(80%);

            &--active{
                filter: invert(100%) sepia(2%) saturate(976%) hue-rotate(228deg) brightness(95%) contrast(101%);
            }
            
        }
    }
    &__logout{
        position:relative;
        &-icon{
            width:40px;
            height:40px;
            transform:rotate(180deg);
            margin-top:40px;
            margin-left:200px;
            align-self:flex-end;
            // filter: invert(69%) sepia(13%) saturate(526%) hue-rotate(158deg) brightness(82%) contrast(86%);
            filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(250deg) brightness(96%) contrast(80%);
            &:hover{
                filter: invert(69%) sepia(13%) saturate(526%) hue-rotate(158deg) brightness(82%) contrast(86%); //accent-color
            }
        }
        &::before{
            content: 'Log Out';
            display:none;
            opacity:0;
            right:0px;
            bottom:5px;
            font-size: 22px;
            color: $accent-color;
            width:0;
            font-style:italic;
          }
          // only show the tool tip when you hover over the delete button
          &:hover::before {
            position:absolute;
            display:block;
            visibility:visible;
            opacity:1;
            right:40px;
            width:81px;
            @include animateTooltip(40px);
          }
        
        &-text{
            padding-bottom:4px;
        }
    }
}