@import '../../styles/globalImports.scss';

.login__form{
    &-input{
        display:flex;
        flex-direction:column;
        align-items:center;
        &:focus{
            
        }
        
    }
    &-inputbox{
        margin-right:0;
        margin-bottom:30px;
        width:95%;
    }
    &-submit{
        margin-left: 250px;
    }
}