@import '../../styles/globalImports.scss';

.delete{
    background-color: #e1ddde;
    color: black;
    font-size: 12px;
    padding: 2px 5px 4px 5px;
    border-radius: 4px;
}

.trigger-button{

    &__image{
        // height:50px;
        width:100%;
        cursor:pointer;
        filter: invert(69%) sepia(13%) saturate(526%) hue-rotate(158deg) brightness(82%) contrast(86%);
    }

    &__intro{
        font-size:24px;

        &:hover{
            opacity:0.7;
        }
    }
}
