@import '../../styles/globalImports.scss';

.delete{
    background-color: #e1ddde;
    color: black;
    font-size: 12px;
    padding: 2px 5px 4px 5px;
    border-radius: 4px;
    position:relative;
    @include addToolTip("Delete Resource", 20px, 3px, 95px);
}

.trigger-button{

    &__image{
        width:100%;
        cursor:pointer;
        filter: invert(69%) sepia(13%) saturate(526%) hue-rotate(158deg) brightness(82%) contrast(86%);
        
        &:hover{
            opacity:0.7;
        }
        
    }

    &__intro{
        @include buildButton(70px,40px, $accent-color, white);
        font-size:24px;

        &:hover{
            opacity:0.7;
        }
    }

    &__delete{
        @include buildButton(70px,40px, #e1ddde, black);
        align-self:flex-end;
        font-size: 12px;
        padding: 2px 5px 4px 5px;
        border-radius: 4px;
        position:relative;
        @include addToolTip("Delete Resource", 31px, 3px, 94px);

        &-lesson{
            @include addToolTip("Delete Lesson", 28px, 3px, 85px);
        }
    }
}
