@import '../../styles/globalImports.scss';

@keyframes sideBarSlideIn{
    from{width:0px}
    to{width:200px;}
}

.client-list{
        padding:0 10px 0 30px;
        background-color:$lighter-green;
        width:200px;
        box-shadow: 10px 10px 8px silver; 
        display:flex;
        flex-direction:column;
        // align-items:center;
        box-sizing:border-box;
        font-size:20px;
        color: $light-text;
        // position:absolute;
        position: fixed;
        height:100vh;
        &--animate{
            animation:sideBarSlideIn 0.5s ease-in;
        }

    &__search{
        background-color:$lighter-green;
        border:0;
        border-bottom:1px solid grey;
        padding:5px;
        box-sizing:border-box;
        margin-top:40px;
        margin-bottom:20px;
        width:95%;
        color:white;
        font-size:16px;
        &:focus{
            outline:none;
            background-color:$lighter-green;
        }
    }

    &__list{
        margin-top:20px;
    }

    &__client{
        margin-bottom:10px;
        color:$light-text;
    }

    &__add{
        width:40px;
        height:40px;
        align-self:flex-end;
        position:relative;
        @include addToolTip("Add Client", 30px, 6px,81px);

        &-programs{
            @include addToolTip("Add Program", 30px,0px,81px);
            margin-right:5px;
            margin-bottom:10px;
            width:25px;
            height:25px;
        }
    }
}