@import '../../styles/globalImports.scss';

.lessons{
    // width:80%;
    width: 64%;
    position: absolute;
    top: 270px;
    right: 67px;

    &__list{
        display:flex;
        flex-wrap:wrap;
        margin: 20px 0;
        justify-content: center;

        &-new{
            align-self:flex-end;
            width:30px;
            height:30px;
            margin-bottom:25px;
            position:relative;
            &::before{
                content: "Add Lesson";
                display:none;
                right:-90px;
                bottom:0;
                font-size: 14px;
                color: $accent-color;
                width:81px;
                font-style:italic;
              }
              // only show the tool tip when you hover over button
              &:hover::before {
                position:absolute;
                display: block;
              }
        }
    }
}
.lesson{
    background-color: white;
    margin-bottom:20px;
    margin-right:20px;
    padding:20px;
    cursor:pointer;
    text-align:center;
    width:100px;

    &__name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight:bold;
    }
}

.current-lesson{
    
    margin-bottom: 100px;
    
    &__top{
        display:flex;
        justify-content:center;
        min-height:150px;
        margin:70px 0 20px 0;
        padding-bottom:20px;
        
        &-status{
            position:relative;
            display:block;
            width:54px;
            height:23px;
            &-check{
                display:none;
            }
            &-label{
                margin-left:60px;
                font-size:14px;
                position:relative;
                top:3px;
                font-weight:bold;
            }
        }
        &-map{
            width:346px;
            height:200px;
        }

        &-details{
            width:25%;
            background-color: $dark-background;
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            padding:20px;
            box-sizing:border-box;
            font-size:16px;

            &-title{
                font-size:20px;
                color:$accent-color;
                text-align:center;
                background-color:white;
                border-radius:50px;
                margin-bottom:10px;
            }

            &-where{
                margin-bottom:20px;
            }
            &-item{
                margin-bottom:5px;
            }

            &-edit{
                align-self:flex-end;
                width:30px;
                height:25px;
                position:relative;
                @include addToolTip("Edit Details", 32px, 3px, 81px);
            }
        }
        
    }
    &__resources-applied{
        min-height:180px;
    }
    &__bottom{
        display:flex;
        justify-content:center;
        border-top:1px solid gainsboro;
        padding-top:20px;
        margin-top:20px;
        &-notes{
            width:50%;
            margin-right:20px;
        }
        &-homework{
            width:50%;
        }
    }
}

.lesson-divider{
    border-top:1px solid gainsboro;
    margin-bottom:20px;
}
.section-title{
    margin-bottom:10px;
    &-resources{
        text-align:center;
    }
}

.slidinggroove{
    position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        border-radius:20px;
        transition: all 0.3s ease;
        background:grey;
    &:after{
        position:absolute;
        content:'';
        width:22px;
        height:21px;
        border-radius:50%;
        background:white;
        top:1px;
        left:1px;
        transition: all 0.3s ease;
    }
    &-on{
        background:$accent-color;
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        border-radius:20px;
        transition: all 0.3s ease;
        &:after{
            position:absolute;
            content:'';
            width:22px;
            height:21px;
            border-radius:50%;
            background:white;
            top:1px;
            left:30px;
            transition: all 0.3s ease;
        }
    }
}

//selects the first element after the input checked with slidinggroove on
input:checked + .slidinggroove-on{
    background:$accent-color; // i believe this is the the div with the slider
}

//selects the first element after the input checked with slidinggroove on
input:checked + .slidinggroove{
    background:grey;
}

.empty-lessons{
    width:55%;
    font-size:22px;
    width: 64%;
    position: absolute;
    top: 270px;
    right: 67px;
    
    &__modal{
        display:flex;
        align-items:center;
        margin:auto;
        width:200px;
        height:200px;
    }
}